*{
  border-radius: 10px;
  display: flexbox;
  
  

}
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 05px;
  height: 100vh;
  margin: 0;
  

  }
header, footer, article, nav, div {
  padding: 20px;
  margin: 5px;
  background: rgb(206, 11, 28);
}
#pageHeader {
  grid-area: header;
  text-align: center;
  font-size: 30px;
  padding: 10px;
    text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  box-shadow: 2px 2px black;
  background-image: url(https://th.bing.com/th/id/OIP.L0qWlP4gtB8NeMPquDPX4gHaEL?w=328&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7);
}
#pageFooter {
  grid-area: footer;
  background-image: url();
}
#mainArticle { 
  grid-area: article;
  box-shadow: 2px 2px black; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbyjmEvrafV_TXQ5_DYyap9abLZb-u86jH_w&usqp=CAU);
  background-size: cover; 
  color: #aaaaaa;
}

  #mainNav { 
  grid-area: nav; 
  box-shadow: 2px 2px 2px black;
  background-image: url(https://th.bing.com/th/id/OIP.Pib2xIZIpz7_pvVkBUEb4gAAAA?w=167&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
  }
#siteAds { 
  grid-area: ads;
  padding: 10px; 
  box-shadow: 2px 2px  black;
  
  background-image: url(https://th.bing.com/th/id/OIP.Pib2xIZIpz7_pvVkBUEb4gAAAA?w=167&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
  }


#thisWeek{
  color: goldenrod;
  text-align: center;
  border: solid;
  background-color: rgb(224, 20, 20);
  box-shadow: 2px 2px black;
  text-shadow: 1px 1px black;
}
.thisWeekPic{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 1px black;
  
}

  
  

a{
  text-decoration: none;
}
#nextWeek{
  color: goldenrod;
  text-align: center;
  border: solid;
  background-color: rgb(224, 20, 20);
  box-shadow: 2px 2px black;
  text-shadow: 1px 1px black;
}
.sectionTitle{
  color: goldenrod;
  text-align: center;
  border: solid;
  background-color: rgb(224, 20, 20);
  box-shadow: 2px 2px black;
  text-shadow: 1px 1px black;

}
#thisWeekText{

  align-content: flex-end;
  color: white;
  text-shadow: 1px 1px black;

}
#nextWeekImg{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 1px black;
}
.youtube-video-container {
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.youtube-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*firstmodal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/*the second modal*/
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*the third Modal*/
/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content3 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}